<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,482},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,482},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,482},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,482},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,386},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,386},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,386},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,386},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,290},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,290},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,290},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,290},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,194},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,194},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,194},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,194},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,98},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,98},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,98},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,98},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runner.pvr.ccz</string>
            <key>size</key>
            <string>{437,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9c4fbc90a84539f7987f158d402776a$</string>
            <key>textureFileName</key>
            <string>runner.pvr.ccz</string>
        </dict>
    </dict>
</plist>
